<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @font-face {
            font-family: billabong;
            font-family: Kanji_PA;
    src: url(/billabong.ttf); /* Путь к файлу со шрифтом */
    src: url(/Kanji_PA.ttf); /* Путь к файлу со шрифтом */

   }
   body {
    overflow-x: hidden;
   }
    .absolut1 {
    width: 67px;
    height: 33px;
      opacity: 0;

    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 419px;
    font-weight: 700;
}
.absolut2 {
    width: 67px;
    height: 33px;
      opacity: 0;
         

    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 587px;
    font-weight: 700;

}
.absolut3 {
    width: 67px;
    height: 33px;
      opacity: 0;
     

    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
    font-weight: 700;
    left: 755px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.absolut4 {
    width: 67px;
    height: 33px;
      opacity: 0;
      
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
    font-weight: 700;
    left: 920px;
}
.absolut5 {
    width: 67px;
    height: 33px;
      opacity: 0;
      
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
    font-weight: 700;
    left: 1082px;
}
.lang {
    width: 15%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.en {
    width: 80%;
    height: 40%;
    background-color: grey;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out; 
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
}
.ru {
    width: 80%;
    height: 40%;
    background-color: grey;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out;
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
}
.en:hover {
    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
}
.ru:hover {
    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
   
}
.podul1 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/home.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;
}
.podul2 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/newspaper.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;

}
.podul3 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/add-image.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;

}
.podul4 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/diary.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;

}
.podul5 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/add-friend.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;
}
.podul1:hover {
    height: 80px;
    background-position: center;
    border-bottom: grey 2px solid;
}
.podul2:hover {
    height: 80px;
    background-position: center;
    border-bottom: grey 2px solid;
}
.podul3:hover {
    height: 80px;
    background-position: center;
    border-bottom: grey 2px solid;
}
.podul4:hover {
    height: 80px;
    border-bottom: grey 2px solid;
    background-position: center;
}
.podul5:hover {
    height: 80px;
    border-bottom: grey 2px solid;
    background-position: center;
}
.podul1:hover .absolut1 {
        transition: all 0.6s ease-in-out;
           opacity: 1;

}
.podul2:hover .absolut2 {
        transition: all 0.6s ease-in-out;
               opacity: 1;


}
.podul3:hover .absolut3 {
        transition: all 0.6s ease-in-out;
       opacity: 1;

}
.podul4:hover .absolut4 {
       opacity: 1;
        
        transition: all 0.6s ease-in-out;
}
.podul5:hover .absolut5 {
    opacity: 1;
        
        transition: all 0.6s ease-in-out;
}
body {
    margin: 0;
}
.samul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;

}
.menu {
    width: 60%;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.textlogo {
    font-family: Kanji_Pa;
    font-size: 40px;
    font-weight: 700;
}
.header {
    width: 100%;
    height: 150px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-right: none;


}
.h21 {
    color:grey;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-weight: 200;
}
.h12 {
    color:white;
    font-weight: 400;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.logo {
    width: 15%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid grey;
}
.locate {
    position: absolute;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 14px;
    top: 173px;
}
.inhall {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 92%;
    height: 1119px;
}
.athall {
    width: 100%;
    height: 586px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(234,76,55,1);
}
.leg {
    width: 58%;
    height: 45px;
    background-color: #EAE1D4;
    border: 3px grey solid;
    border-radius: 20px;
}
.leg::placeholder {
    text-align: center;
    color: grey;
    font: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.myt {
    width: 58%;
    height: 45px;
    background-color: #EAE1D4;
    border: 3px grey solid;
    border-radius: 20px;
}
.myt::placeholder {
    text-align: center;
    color: grey;
    font: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.epic {
    width: 40%;
    height: 45px;
    background: #00c23d;
    border: 3px darkolivegreen solid;
    border-radius: 20px;
}
.epic::placeholder {
    text-align: center;
    color: grey;
    font: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.dlyaknopok {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 58%;
    height: 50px;
}
.hall {
           
            background: rgba(0,0,0,1);
    background-size: cover;
    background-repeat: no-repeat;
    width: 57%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    margin-top: 121px;
}
.hello {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            font-size: 30px;
            font-weight: bolder;    
            color: #EAE1D4;

}
.clear {
    width: 40%;
    height: 45px;
    background: #ea4c37;
    border: 3px darkred solid;
    border-radius: 20px;
}
.hall:hover {                        
            
            backdrop-filter: blur(8px);
}

.pip {
    width: 20%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pop {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 900;

}
.news1 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
} 
.news1z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg1 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag1 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text1 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news2 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
background: rgb(0,254,255);
background: linear-gradient(341deg, rgba(0,254,255,1) 9%, rgba(0,255,115,1) 77%);
} 
.news2z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg2 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag2 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text2 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news3 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
background: rgb(0,0,0);
background: linear-gradient(222deg, rgba(0,0,0,1) 9%, rgba(255,175,0,1) 100%);
} 
.news3z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg3 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag3 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text3 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news4 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
} 
.news4z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg4 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag4 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text4 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news5 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
background: rgb(0,254,255);
background: linear-gradient(341deg, rgba(0,254,255,1) 9%, rgba(0,255,115,1) 77%);
} 
.news5z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg5 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag5 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text5 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news6 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
background: rgb(0,0,0);
background: linear-gradient(222deg, rgba(0,0,0,1) 9%, rgba(255,175,0,1) 100%);
} 
.news6z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg6 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag6 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text6 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news7 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
} 
.news7z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg7 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag7 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text7 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news8 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
background: rgb(0,254,255);
background: linear-gradient(341deg, rgba(0,254,255,1) 9%, rgba(0,255,115,1) 77%);
} 
.news8z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg8 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag8 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text8 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.news9 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    z-index: 1;
background: rgb(0,0,0);
background: linear-gradient(222deg, rgba(0,0,0,1) 9%, rgba(255,175,0,1) 100%);
} 
.news9z {
    width: 336px;
    height: 348px;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.nimg9 {
    background-image: url(/iphon.png);
    width: 97%;
    height: 157px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.zag9 {
    width: 97%;
    height: 23px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 900;

}
.text9 {
    width: 97%;
    height: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 700;

}
.createhomew {
    width: 100px;
    position: absolute;
height: 30px;
border-radius: 10px;
background-color: black;
border: #EAE1D4 2px solid;
transition: all 0.5s ease-in-out;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 900;
font-size: 16px;
text-align: center;
    top: 342px;
    left: 709px;
    color: #EAE1D4;
}
.createhomew:hover {
        width: 100px;
    position: absolute;
height: 30px;
border-radius: 15px;
background-color: #EAE1D4;
border: black 2px solid;
color: black;
}
.popi {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
</style>
<body>
        <div class="header">
        <div class="logo">
            <p class="textlogo">Diary</p>
        </div>
        <div class="menu">
            <ul class="samul">
                <li class="podul1">
                    <div class="absolut1">
                        Добавить
                        </div>
                </li>
                <li class="podul2">
                    <div class="absolut2">Новости</div>

                </li>
                <li class="podul3">
                    <div class="absolut3">Галерея</div>

                </li>
                <li class="podul4">
                    <div class="absolut4">Домашка</div>

                </li>
                <li class="podul5">
                    <div class="absolut5">Добавить</div>
                </li>
            </ul>
            
        </div>

        <div class="lang">
                <div class="en">EN</div>
                <div class="ru">RU</div>
            </div>
    </div>
    
    <div class="athall"> 
        <div class="hall">
        <p class="hello">Удаление</p>
        <div class="inhall">
            <form action="/homework" method="post" class="popi">
            <input type="text" placeholder="Name" class="leg" name="Name" ></input>
            <input type="text" placeholder="Homework" class="myt" name="Work"></input>
           
            <div class="dlyaknopok">
                 <input type="submit" class="epic" value="Submit"></input>
                 <button value="Очистить" class="clear">Clear</button>

            </div>
        </form>
        </div>
        </div>  
        <div class="inhall">
        
        </div>
        <div class="locate">
            <p class="h21">Главная   &rsaquo; </p>
            <p class="h12">Удаление домашки</p>
        </div>
    </div>
    
    
    <script>
    let createhomew = document.querySelector(".createhomew")
    let podul1 = document.querySelector(".podul1")
        let pop = document.querySelector(".pop")
        let podul2 = document.querySelector(".podul2")
    let podul3 = document.querySelector(".podul3")
    let podul4 = document.querySelector(".podul4")
    let podul5= document.querySelector(".podul5")

    let h21 = document.querySelector(".h21")
    let h12 = document.querySelector(".h12")
    let clear = document.querySelector(".clear")
    let hello = document.querySelector(".hello")
    let submit = document.querySelector(".submit")
    let absolut1 = document.querySelector(".absolut1")
    let absolut2 = document.querySelector(".absolut2")
    let absolut3 = document.querySelector(".absolut3")
    let absolut4 = document.querySelector(".absolut4")
    let absolut5 = document.querySelector(".absolut5")
    let epic = document.querySelector(".epic")
    let en = document.querySelector(".en")
    let ru = document.querySelector(".ru")
    en.addEventListener("click", function (){
        h21.innerHTML = "Home >"
        hello.innerHTML = "Clear"
        h12.innerHTML = "Clear Homework"
        absolut1.innerHTML = "Add"
        absolut2.innerHTML = "Newspaper"
        absolut3.innerHTML = "Galery"
        absolut4.innerHTML = "Homework"
        absolut5.innerHTML = "Add"
            clear.innerHTML = "Clear"
    epic.value = "Submit"
        console.log("dasdasdasdasdasdasdasdasdasd")
    })
    ru.addEventListener("click", function(){
            h21.innerHTML = "Главная >"

        absolut5.innerHTML = "Добавить"
        hello.innerHTML = "Добавить"

    epic.value = "Отправить"

    clear.innerHTML = "Очистить"
        h12.innerHTML = "Добавление домашки"

        absolut1.innerHTML = "Добавить"
        absolut2.innerHTML = "Новости"
        absolut3.innerHTML = "Галерея"
        absolut4.innerHTML = "Домашняя"
        console.log("dasdasdasdasdasdasdasdasdasd")
    })
    podul1.addEventListener("click", function() {
        window.location.href = "/"
    })
    podul2.addEventListener("click", function() {
        window.location.href = "/newspaper"
    })
    podul3.addEventListener("click", function() {
        window.location.href = "/galery"
    })
    podul4.addEventListener("click", function() {
        window.location.href = "/add/homework"
    })
    podul5.addEventListener("click", function() {
        window.location.href = "/add/registration"
    });

    </script>
</body>
</html>